<h1 id="index-title">Welcome to Your Library!</h1>

<ul>

<p><a href='/songs/pop'>POP</a></p><br>
<p><a href='/songs/rnb'>R&B</a></p><br>
<p><a href='/songs/edm'>EDM</a></p><br>
<p><a href='/songs/alternative'>ALTERNATIVE</a></p><br>
<p><a href='/songs/rap'>RAP</a></p><br>

<a href="/songs/new" > ADD A NEW SONG! 🎶</a>




</ul>