<h1> Add a New Song Into a Genre!</h1>



<form method="POST" action="/songs">
    
    

    <p> Name: <input type="text" name="name"></p>
    <p> Artist: <input type="text" name="artist"></p>
    <p> Genre: <input type="text" name="genre"></p>


    <input type="submit">

</form>